html, body {
  height: 100%;
}

body {
  margin: 0;
  background: black;
  font-family: system-ui;

  display: flex;
  flex-direction: column;

  height: 100dvh;   /* 🔥 TO */
}

h1 {
  padding: 0;
  margin: 0;
  color: white;
}

#appInfo {
  display: flex;
  justify-content: space-between;
  color: white;
}

.view {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.cameraContainer {
  display:flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

.hidden {
  display: none;
}

video, canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

canvas {
  touch-action: none;
}

.controlsContainer {
  margin-top: auto;
  text-align: center;
  pointer-events: none;
}

.controlsContainer button {
  pointer-events: auto;
}

.controlsContainer input {
  pointer-events: auto;
  width: 100%;
}

button {
  font-size: 20px;
  margin: 10px;
  padding: 10px 15px;
}

#status {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
  color: white;
}

#version {
  color: white;
  padding: 5px;
  font-size: 12px;
}

#resolution {
  color: white;
  padding: 5px;
  font-size: 12px;
}