# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# IDE / editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Secrets
# =========================
.env
*.env

# =========================
# Output files (Twoje)
# =========================
*_receipts.csv


*.spec